<link rel="stylesheet" href="/css/navbar.css">
<nav>
    <div class="nav-container">
        <div class="logo">Between</div>
        <div class="icon-container">
            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/message.png" class="message-icon">
            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/home.png" class="member-icon">
        </div>
    </div>
</nav>