<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js" type="module"></script>
<script src="/js/initialize.js" type="module"></script>
<nav>
    <div class="nav-container">
        <div class="logo">Between</div>
        <div class="icon-container">
            <div class="icon">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/user.png" class="member">
                <div class="member-title">Profile</div>
            </div>
            <div class="icon">
                <div class="message" id="message-container">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/messenger.png" class="message">
                </div>
                <div class="message-title">Message</div>
            </div>
            <div class="icon">
                <div class="logout" id="logout-container">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/logout-2.png" class="logout">
                </div>
                <div class="logout-title">Logout</div>
            </div>
        </div>
    </div>
</nav>