<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js" type="module"></script>
<nav>
    <div class="nav-container">
        <div class="logo">Between</div>
        <div class="icon-container">
            <div class="icon">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/message.png" class="message">
                <div class="message-title">Message</div>
            </div>
            <div class="icon">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/home.png" class="member">
                <div class="member-title">Home</div>
            </div>
            <div class="icon">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/logout.png" class="logout">
                <div class="logout-title">Logout</div>
            </div>
        </div>
    </div>
</nav>