*{
    margin: 0;
    padding: 0;
    color: #000000;
    font-family: 'Noto Sans Telugu UI';
    font-size: 18px;
}
body{
    /* display: flex; */
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background: linear-gradient(223.73deg, #FBB7C0 0%, rgba(196, 196, 196, 0) 74.76%);
}
/* photo */
.img-container{
    background-image: url(https://d1dd0qmbf0xvcr.cloudfront.net/icon/home.jpg);
    background-size: cover;
    max-width: 700px;
    height:100vh;
}

/* content */
.content-container{
    width: 100vw;;
    display: flex;
}
/* logo */
.logo-container{
    width: 700px;
    height: 70px;
}
.logo-container > a{
    width: 222px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 45px;
    color: #B6244F;
    cursor: pointer;
    text-decoration: none;
}
/* login/register form */
.form-container{
    margin-top: 100px;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-container > .slogan-container{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slogan-container > div{
    color: #666666;
    font-weight: 700;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 650px;
    background: #FFFFFF;
    border-radius: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
form > .title{
    font-weight: 700;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 10px;
}
form > .sub-title{ 
    font-size: 20px;
    color: #666666;
    margin-bottom: 30px;
}
form > .input-container > input{
    width: 400px;
    height: 55px;
    background: #FFFFFF;
    border: 1px solid #888888;
    border-radius: 10px;
    padding-left: 15px;
    margin: 15px 0px 15px 0px;
}
form > button{
    width: 400px;
    height: 55px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
}
form > .sign-in-btn{
    background-color: #B6244F;
    color: #FFFFFF;
}
form > .google-btn{
    width: 400px;
    height: 55px;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin: 15px 0px 15px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E5E5E5;
    margin-bottom: 30px;
    text-decoration: none;
}
form > .google-btn > img{
    width: 35px;
    margin-right: 20px;
}
form > .sign-up-link, form > .sign-in-link{
    cursor: pointer;
}
.hide-form{
    display: none;
}


/**/
aside{
    width: auto;
    height: 250px;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
aside > div{
    font-size: 22px;
    margin-bottom: 10px;
}
.match-section{
    width: auto;
    height: 700px;
    background-color: rgba(251, 183, 192, 0.45);
}
.match-section > .main-match{
    margin: auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}

.match-banner > h1{
    font-size: 40px;
}
.match-item{
    margin: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.left-container > .type-container{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 5px;
    margin-top: 30px;
}
.type-container > .type{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    background-color: #B6244F;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.type-container > .type:hover, .heart:hover{
    transform: scale(1.1);
}
.heart{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heart > img{
    width: 35px;
    height: 35px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.computer-container{
    background-image: url(https://d1dd0qmbf0xvcr.cloudfront.net/icon/computer.png);
    background-repeat: no-repeat;
    background-size: 700px;
    width: 700px;
    height: 600px;
}
.computer-container > img{
    width: 565px;
    height: 310px;
    margin-left: 70px;
    margin-top: 145px;
}

.block{
    width: auto;
    height: 150px;
    background-color: #E5E5E5;
}
.message-section{
    width: auto;
    height: 464px;
    background-color: #B6244F;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-section > .main-message{
    margin: auto;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-banner > div{
    width: 500px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.start{
    width: 150px;
    height: 40px;
    border-radius:10px;
    background-color: #FFFFFF;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    font-weight: 700;
}
.start:hover{
    transform: scale(1.1);
}
.message-container{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-container > img{
    width: 550px;
    height: 466px;
    /* height: 700px; */
    object-fit: contain;
}


footer{
    height: 100px;
    align-items: center;
    background-color: rgba(251, 183, 192, 0.45);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > .github{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.github > img{
    width: 40px;
    height: 40px;
}

/* RWD */
@media(min-width: 1650px){
    .img-container{
        max-width: 1000px;
    }
}
@media(max-width: 1250px){
    .img-container{
       max-width: 1200px;
    }
    .content-container{
        flex-direction: column;
    }
    .logo-container{
        width: auto;
        height: auto;
    }
    .slogan-container > div{
        display: none;
    }

    aside > div{
        width: auto
    }
    .match-section{
        height: 1000px;
    }
    .match-section > .main-match{
       width: auto;
    }
    .match-item{
        width: auto;
        flex-direction: column;
    }
    .left-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .computer-container{
        background-size: 500px;
        width: 500px;
    }
    .computer-container > img{
        width: 410px;
        height: 220px;
        margin-left: 50px;
        margin-top: 100px;
    }
    .match-banner{
        width: 400px;
    }
    .message-section{
        height: 800px;
    }
    .message-section > .main-message{
        width: auto;
        flex-direction: column;
    }
    .message-banner{
        width: 400px;
    }
    .message-container{
        width: auto;
    }
    .message-container > img{
        width: 400px;
    }
}
@media(max-width: 560px){
    .sign-in-container{
        width: 90%;
    }
    form{
        width: 100%;
        height: 600px;
    }
    form > .input-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input-container, form > .google-btn, form > button{
        max-width: 80%;
    }
    aside > div, .match-banner, .message-banner > div, .message-banner{
        max-width: 250px;
    }
    .message-section{
        height: 600px;
    }
    .message-container > img{
        width: 250px;
        height: 300px;
    }
    .match-section{
        height: auto;
    }
    .left-container > .type-container{
        width: 250px;
    }
    .type-container > .type, .heart{
        width: 50px;
        height: 50px;
    }
    .computer-container{
        background-size: 100%;
        width: 100%;
        height: 300px;
    }
    .computer-container > img{
        width: 210px;
        height: 115px;
        margin-left: 25px;
        margin-top: 50px;
    }
}
