*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Telugu UI';
}
nav{
    height: 50px;
    border-bottom: 1px solid #E8E8E8E8;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}
nav > .nav-container{
    width: 1200px;
    height: 34px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container > .logo{
    font-weight: 700;
    font-size: 30px;
    color: #B6244F;
    cursor: pointer;
}
.nav-container > .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 50px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon> img{
    width: 35px;
    cursor: pointer;
}
.message-title, .member-title, .logout-title{
    position: absolute;
    top: 50px;
    width: 70px;
    height: 30px;
    font-size: 12px;
    background-color: #888888;
    color: #FFFFFF;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    display: none;
}
.show{
    display: block;
}

#message-container, #logout-container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #B6244F;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#message-container > img, #logout-container > img{
    width: 20px;
    margin-left: 4px;
}
#message-container > img{
    margin-left: 0px;
}


/* error container */
.error-container{
    transform: translateY(150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error{
    width: 450px;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 25px solid #B6244F;
    padding: 15px;
}
.error > .title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.error > .message{
    width: 400px;
    text-align: center;
    margin-bottom: 15px;
}
.error > .message > b{
    color: #B6244F;
}
.error > button{
    width: 200px;
    height: 30px;
    background: #B6244F;
    border-radius: 5px;
    margin: 15px 0px 15px 0px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.hide{
    display: none;
}
.show-animation{
    animation: 0.7s identifier;
}
@keyframes identifier {
    0% {transform: translateY(-100%)}
    100% {transform: translateY(0);}
}

/* RWD */
@media(max-width: 1200px){
    nav > .nav-container{
        width: 90%;
    }
    .error{
        max-width: 80%;
    }
    .error > .message{
        max-width: 80%;
    }
}