<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js" type="module"></script>
</head>
<body>
    <div class="img-container">
        <div class="content-container">
            <div class="logo-container">
                <a href="/">Between</a>
            </div>
            <div class="form-container">
                <div class="sign-in-container">
                    <form class="sign-in">
                        <div class="title">Sign in</div>
                        <div class="sub-title">Sign in with your email here.</div>
                        <div class="input-container">
                            <input type="email" placeholder="Email" class="sign-in-email" value="lola@gmail.com" required>
                        </div>
                        <div class="input-container">
                            <input type="password" placeholder="Password" class="sign-in-password" value="lola" required>
                        </div>
                        <button class="sign-in-btn">Sign in</button>
                        <a href="/api/user/auth/google" class="google-btn"><img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/google-logo.png">Connect with Google</a>
                        <div class="sign-up-link">Don’t have an account? Sign up</div>
                    </form>
                </div>
                <div class="sign-up-container hide-form">
                    <form class="sign-up">
                        <div class="title">Sign up</div>
                        <div class="sub-title">Create a free account with your email.</div>
                        <div class="input-container">
                            <input type="text" placeholder="Full Name" class="sign-up-name" required>
                        </div>
                        <div class="input-container">
                            <input type="email" placeholder="Email" class="sign-up-email" required>
                        </div>
                        <div class="input-container">
                            <input type="password" placeholder="Password" class="sign-up-password" required>
                        </div>
                        <button class="sign-in-btn">Create your free account</button>
                        <div class="error-message"></div>
                        <div class="sign-in-link">Already have an account? Sign in</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <main>
        <aside>
            <div>Between helps you find someone that matches your personality.</div>
            <div>We use MBTI to feature yourself and your future friends.</div>
        </aside>
        <section class="match-section">
            <div class="main-match">
                <div class="match-item">
                    <div class="left-container">
                        <div class="match-banner">
                            <h1>Start Match!</h1>
                            <div class="match-banner">Once you click with somebody, prase LIKE to keep your serendipity.</div>
                        </div>
                        <div class="type-container">
                            <div class="type">E</div>
                            <div class="type">I</div>
                            <div class="type">N</div>
                            <div class="type">S</div>
                            <div class="type">T</div>
                            <div class="type">F</div>
                            <div class="type">J</div>
                            <div class="type">P</div>
                            <div class="heart">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/heart.png">
                            </div>
                        </div>
                    </div>
                    <div class="computer-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/match.gif">
                    </div>
                </div>
            </div>
        </section>
        <div class="block"></div>
        <section class="message-section">
            <div class="main-message">
                <div class="banner-container">
                    <div class="message-banner">
                        <div>Start up your conversation with your new friend.</div>
                        <div>Melt inside the new relationship with Between.</div>
                    </div>
                    <button class="start">Start now!</button>
                </div>
                <div class="message-container">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/message.gif">
                </div>
            </div>
        </section>
        <div class="block"></div>
        <footer>
            <div>© 2022 Hsin-I Chang</div>
            <a href="https://github.com/HsinI65018/Wehelp-project-between" class="github">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/github.png">
            </a>
        </footer>
    </main>
</body>
</html>