<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/home.js" type="module"></script>
</head>
<body>
    <div class="left-header-container">
        <div class="img-container">
            <div class="logo-container">
                <div>Between</div>
            </div>
        </div>
    </div>
    <div class="form-container">
        <div class="slogan-container">
            <div>Meet some new friends throw the world.</div>
            <div>Find "the one" that you are looking for.</div>
        </div>
        <div class="sign-in-container">
            <form class="sign-in">
                <div class="title">Sign in</div>
                <div class="sub-title">Sign in with your email here.</div>
                <div class="input-container">
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Password">
                </div>
                <button class="sign-in-btn">Sign in</button>
                <button class="google-btn">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/google-logo.png">
                    <div>Connect with Google</div>
                </button>
                <div class="sign-up-link">Don’t have an account? Sign up</div>
            </form>
        </div>
        <div class="sign-up-container hide-form">
            <form class="sign-up">
                <div class="title">Sign up</div>
                <div class="sub-title">Create a free account with your email.</div>
                <div class="input-container">
                    <input type="text" placeholder="Full Name">
                </div>
                <div class="input-container">
                    <input type="email" placeholder="Email">
                </div>
                <div class="input-container">
                    <input type="password" placeholder="Password">
                </div>
                <button class="sign-in-btn">Create your free account</button>
                <div class="sign-in-link">Already have an account? Sign in</div>
            </form>
        </div>
    </div>
</body>
</html>