<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/match.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
        <div class="match-container">
            <div class="img-container">
                <!-- <img src="https://d1dd0qmbf0xvcr.cloudfront.net/person-3.jpg"> -->
                <div class="info-container">
                    <div class="user-img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/person-1.jpg">
                    </div>
                    <div class="user-info-container">
                        <div class="user-name">Amanda Jonse</div>
                        <div class="location">
                            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/map.png">
                            <div>San Francisco</div>
                        </div>
                    </div>
                    <div class="more-info-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/menu.png">
                    </div>
                </div>
                <!-- <div class="next-btn-container">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/menu.png">
                </div> -->
            </div>
        </div>
        <!-- <div class="next-btn-container">
            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/menu.png">
        </div> -->
    </main>
</body>
</html>