<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/match.css">
    <script src="/js/match.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <main>
        <div class="match-container">
            <div class="img-container">
                <div class="test hide"></div>
                <div class="show-match-container hide">
                    <div class="content-container">
                        <div class="title">It’s a Match !</div>
                        <div class="sub-title">You and David have liked each other</div>
                        <div class="photo-container">
                            <div class="person-container person-1">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                            </div>
                            <div class="person-container person-2">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg">
                            </div>
                        </div>
                        <button class="message-btn">
                            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/messenger.png" class="message">
                            <div class="success-message-title">Send a Message</div>
                        </button>
                        <button class="playing-btn">
                            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/right-2.png" class="playing">
                            <div class="success-playing-title">Keep Playing</div>
                        </button>
                    </div>
                </div>
                <div class="introduction-container hide">
                    <div class="introduction">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum. Egestas eget arcu, volutpat quisque adipiscing. Viverra dui diam mattis lorem eget maecenas etiam. Habitasse congue montes, adipiscing cras elementum orci, eu. Pellentesque gravida vel ultrices duis sed pretium sed ullamcorper iaculis. Turpis ut fringilla faucibus amet rutrum mauris semper quam. Aliquet proin a nisl, viverra eget consectetur diam. 
                    </div>
                </div>
                <div class="info-container">
                    <div class="user-img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg" class="user-image">
                    </div>
                    <div class="user-info-container">
                        <div class="user-name">Amanda Jonse</div>
                        <div class="location">
                            <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/map.png">
                            <div class="location-name">San Francisco</div>
                        </div>
                    </div>
                    <div class="more-info-Btn">
                        <div class="like-container">LIKE</div>
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/dots.png" class="more-btn">
                    </div>
                </div>
            </div>
            <div class="next-person hide-btn">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/right.png" class="next-btn">
            </div>
        </div>
    </main>
</body>
</html>