<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %> 
    <link rel="stylesheet" href="/css/member.css">
    <script src="/js/member.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <header>
        <div class="header-container">
            <div class="image-container">
                <label class="custom-file-upload">
                    <input type="file" class="hide"/>
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/upload.png">
                </label>
                <!-- <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg"> -->
            </div>
            <div class="user-container">
                <div class="info-container">
                    <div class="title">Name:</div>
                    <div class="content save-user-name">Amanda Jonse</div>
                    <input type="text" class="edit-user-name hide" placeholder="New name">
                    <div class="name-img-container img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/edit.png" class="edit-name">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/save.png" class="save-name hide">
                    </div>
                </div>
                <div class="info-container">
                    <div class="title">Email:</div>
                    <div class="content">amanda@gmail.com</div>
                </div>
                <div class="info-container">
                    <div class="title">Password:</div>
                    <div class="content save-user-pwd">********</div>
                    <input type="password" class="edit-user-pwd hide" placeholder="New password">
                    <div class="pwd-img-container img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/edit.png" class="edit-pwd">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/save.png" class="save-pwd hide">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="btn-container">
            <button class="edit-profile">Edit Profile</button>
        </div>
        <div class="profile-container hide">
            <form>
                <div class="about-container">
                    <div class="title">About</div>
                    <div class="location">
                        <div class="title">Location:</div>
                        <input type="text" placeholder="Taipei">
                    </div>
                    <div class="introduction">
                        <div class="title">Introduction:</div>
                        <textarea placeholder="Please introduce yourself in 200 words."></textarea>
                    </div>
                </div>
                <div class="personality-container">
                    <div class="title">Personality</div>
                    <div class="type-container">
                        <div class="type">
                            <div class="latter">E</div>
                            <div class="title">Extroverts</div>
                            <div class="content">Extroverts are energized by people, enjoy a varity of tasks, a quick pace, and are good at multitasking.</div>
                        </div>
                        <div class="type">
                            <div class="latter">S</div>
                            <div class="title">Sensors</div>
                            <div class="content">Sensors are realistic people who like to focus on the facts and details They apply common sense and past experience to find practical solutions to problems.</div>
                        </div>
                        <div class="type">
                            <div class="latter">T</div>
                            <div class="title">Thinkers</div>
                            <div class="content">Thinkers tend to make their decisions using logical analysis, objectively weigh ros and cons, and value honesty, consistency, and fairness.</div>
                        </div>
                        <div class="type">
                            <div class="latter">J</div>
                            <div class="title">Judgers</div>
                            <div class="content">Judgers tend to be organized and prepared, like to make and stick to plans, and are confortable following most rules. </div>
                        </div>
                        <div class="type">
                            <div class="latter">I</div>
                            <div class="title">Introverts</div>
                            <div class="content">Introverts often like working alone or in small groups, prefer a more deliberate pace, and like to focus on one task at a time.</div>
                        </div>
                        <div class="type">
                            <div class="latter">N</div>
                            <div class="title">Intuitives</div>
                            <div class="content">Intuitives prefer to focus on possibilities and the big picture, easily see patterns, value innovation, and seek creative solutions to problems.</div>
                        </div>
                        <div class="type">
                            <div class="latter">F</div>
                            <div class="title">Feelers</div>
                            <div class="content">Feelers tend to be sensitive and cooperative, and decide based on their own personal values and how others will be affected by their actions.</div>
                        </div>
                        <div class="type">
                            <div class="latter">P</div>
                            <div class="title">Perceivers</div>
                            <div class="content">Perceivers prefer to keep their options open, like to be able to act spontaneously, and like to be flexible with making plans.</div>
                        </div>
                    </div>
                </div>
                <div class="sex-container">
                    <div class="title">Looking For</div>
                    <div class="sex-btn-container">
                        <button>Male</button>
                        <button>Female</button>
                        <button>Both</button>
                    </div>
                </div>
                <div class="condition-container">
                    <div class="title">Who Is...</div>
                    <input type="text" placeholder="Please write the condition that you are looking for.This will be shown at the profile.">
                </div>
                <button class="save-btn">Save</button>
            </form>
        </div>
    </main>
</body>
</html>