<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/member.css">
    <script src="/js/member.js" type="module"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <header>
        <div class="header-container">
            <div class="image-container">
                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg">
            </div>
            <div class="user-container">
                <div class="info-container">
                    <div class="title">Name:</div>
                    <div class="content save-user-name">Amanda Jonse</div>
                    <input type="text" class="edit-user-name hide" placeholder="New name">
                    <div class="name-img-container img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/edit.png" class="edit-name">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/save.png" class="save-name hide">
                    </div>
                </div>
                <div class="info-container">
                    <div class="title">Email:</div>
                    <div class="content">amanda@gmail.com</div>
                </div>
                <div class="info-container">
                    <div class="title">Password:</div>
                    <div class="content save-user-pwd">********</div>
                    <input type="password" class="edit-user-pwd hide" placeholder="New password">
                    <div class="pwd-img-container img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/edit.png" class="edit-pwd">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/save.png" class="save-pwd hide">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="btn-container">
            <button class="edit">Edit Profile</button>
        </div>
    </main>
</body>
</html>