<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/message.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/message.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/loading.gif" class="loading">
    <article class="default-friend">
        <div>You seem didn't have any friend.</div>
        <div>Go to home page and meet someone!</div>
    </article>
    <main>
        <aside class="friend-list hide-aside">
            <div class="aside-tool-container">
                <div class="close close-btn">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/message-square.png" class="close-btn">
                </div>
            </div>
            <div class="aside-friend-container">
                <div class="aside-container">
                    <div class="search-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/search.png">
                        <input class="search-input" type="text" placeholder="Search">
                    </div>
                    <div class="friend-zone-container">
                    </div>
                </div>
            </div>
        </aside>
        <section class="default-room hide-default"></section>
        <section class="message-room hide">
            <div class="section-header">
                <div class="title">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/menu.png" class="show-friend">
                    <div class="chat-name">David Smith</div>
                </div>
            </div>
            <div class="section-container">
            </div>
            <div class="section-footer">
                <form class="msg-form">
                    <div class="input-container">
                        <input type="text" placeholder="Send a message" class="message-value" required>
                        <img class="emoji" src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/smile.png">
                    </div>
                    <button>Send</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>