<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/css/message.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/message.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body><%- include('../partials/navbar'); %>
    <main>
        <aside class="friend-list hide-aside">
            <div class="aside-tool-container">
                <div class="close close-btn">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/message-square.png" class="close-btn">
                </div>
                <!-- <a href="#" class="fb">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/fb-latter.png">
                </a>
                <a href="#" class="ig">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/ig-light.png">
                </a> -->
            </div>
            <div class="aside-friend-container">
                <div class="aside-container">
                    <div class="search-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/search.png">
                        <input class="search-input" type="text" placeholder="Search">
                    </div>
                    <div class="friend-zone-container">
                        <!-- <div class="friend-card">
                            <div class="img-container">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                            </div>
                            <div class="friend-info">
                                <div class="name">David Smith</div>
                                <div class="un-read-msg">1</div>
                            </div>
                        </div> -->
                        <!-- <div class="friend-card">
                            <div class="img-container">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                            </div>
                            <div class="friend-info">
                                <div class="name">David Smith</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </aside>
        <section class="default-room hide-default"></section>
        <section class="message-room hide">
            <div class="section-header">
                <div class="title">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/menu.png" class="show-friend">
                    <div class="chat-name">David Smith</div>
                </div>
            </div>
            <div class="section-container">
                <!-- <div class="message-container">
                    <div class="img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg">
                    </div>
                    <div class="message-info-container">
                        <div class="message-user-info">
                            <div class="title">Amanda Jonse</div>
                            <div class="msg-date">2022/05/04 10:20 pm</div>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum.</div>
                    </div>
                </div> -->
                <!-- <div class="message-container">
                    <div class="img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                    </div>
                    <div class="message-info-container">
                        <div class="message-user-info">
                            <div class="title">David Smith</div>
                            <div class="msg-date">2022/05/04</div>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum.</div>
                    </div>
                </div> -->
            </div>
            <div class="section-footer">
                <form class="msg-form">
                    <div class="input-container">
                        <input type="text" placeholder="Send a message" class="message-value">
                        <img class="emoji" src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/smile.png">
                    </div>
                    <button>Send</button>
                </form>
            </div>
        </section>
    </main>
</body>
</html>