<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/message.css">
    <script src="/js/message.js" type="module"></script>
    <title>Document</title>
</head>
<body><%- include('../partials/navbar'); %>
    <main>
        <aside>
            <div class="aside-tool-container">
                <a href="#">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/fb.png">
                </a>
                <a href="#">
                    <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/ig.png">
                </a>
            </div>
            <div class="aside-friend-container">
                <div class="aside-container">
                    <div class="search-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/search.png">
                        <input type="text" placeholder="Search">
                    </div>
                    <div class="friend-zone-container">
                        <div class="friend-card">
                            <div class="img-container">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                            </div>
                            <div class="friend-info">
                                <div class="name">David Smith</div>
                            </div>
                        </div>
                        <div class="friend-card">
                            <div class="img-container">
                                <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                            </div>
                            <div class="friend-info">
                                <div class="name">David Smith</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </aside>
        <section>
            <div class="section-header">
                <div class="title">David Smith</div>
            </div>
            <div class="section-container">
                <div class="message-container">
                    <div class="img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-1.jpg">
                    </div>
                    <div class="message-info-container">
                        <div class="message-user-info">
                            <div class="title">Amanda Jonse</div>
                            <div class="msg-date">2022/05/04</div>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum.</div>
                    </div>
                </div>
                <div class="message-container">
                    <div class="img-container">
                        <img src="https://d1dd0qmbf0xvcr.cloudfront.net/icon/person-3.jpg">
                    </div>
                    <div class="message-info-container">
                        <div class="message-user-info">
                            <div class="title">David Smith</div>
                            <div class="msg-date">2022/05/04</div>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porta neque eget at et, elementum.</div>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <input type="text" placeholder="Send a message">
            </div>
        </section>
    </main>
</body>
</html>